# PostgreSQL
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
# Backend
BACKEND_PORT=3000

# Frontend
FRONTEND_PORT=5173

# MinIO
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=todo_admin
MINIO_ROOT_PASSWORD=todo_secure_password_123
